/* : BLock hidden, used in "advanced block" : */
.block-hidden{
    user-select: none;
    &__title{
        margin-top: 0!important;
        margin-bottom: 16px!important;
        cursor: pointer;
        &:hover ~ .block-hidden__describe{
            opacity: 1;
            visibility: visible;
        }
    }
    &__describe{
        display: inline-block;
        position: relative;
        opacity: 0;
        visibility: hidden;
        transition: .3s all;
        &:after{
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 2px;
            background: $operative;
        }
    }
}

@media only screen and (max-width: 769px){
    .block-hidden{
        margin-bottom: 0;
        text-align: left;
        &__describe{
            opacity: 1;
            visibility: visible;
        }
    }
}

