.block-videogallery{
    &__element{
        position: relative;
        width: 100%;
        min-height: 1px;
        transition: min-height .8s ease-in-out;
        &:hover .block-videogallery__controls{
            opacity: 1;
            visibility: visible;
        }
        &--active{
            min-height: calc(90vh - 128px);
        }
    }
    &__name{
        position: relative;
        user-select: none;
        z-index: 10;
    }
    &__video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    &__controls{
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    }
}

@media only screen and ( max-width: 768px ) {
    .block-videogallery{
        &__element{
            &:hover .block-videogallery__controls{
                opacity: inherit;
                visibility: inherit;
            }
        }
        &__controls{
            opacity: 1;
            visibility: visible;
        }
    }
};