.block
    position: relative
    margin-right: auto
    margin-left: auto
    &__title
        font-family: value-regular!important
    &__photo > .card:last-of-typeb 
        margin-bottom: 0
    &--texleft
        text-align: left
    &--texcen
        text-align: center
    &--texright
        text-align: right
    &--hidden
        overflow: hidden

.block-image
    position: relative
    width: 100%
    &--full 
        height: 992px
    &--small 
        height: 499px
    &--256
        height: 256px 
    &--boxsh
        box-shadow: 0 0 12px rgba(0,0,0,.16)
    &__el
        position: absolute
        top: 0
        right: 0
        width: 100%
        height: 100%
        object-fit: cover
        &--contain
            object-fit: contain
    &__underblock
        position: absolute
        top: calc(100% - 190px)
        left: calc(50% - 190px)
        max-width: 380px 
        max-height: 380px 

/* Block for page "River Operation" */
.block-operation
    text-align: center
    &__wrapper
        text-align: left
        overflow: hidden
        transition: .8s all
        &--disabled
            max-height: 0
    

.block-advanced
    p
        margin-top: 0!important
    &__icon
        position: relative
        margin-right: auto
        margin-left: auto
        width: 64px
        height: auto


.block-list 
    &__el--underline
        position: relative
        &:before
            content: ''
            position: absolute
            top: 32px
            left: 0
            width: 48px
            height: 2px
            background: $operative

.block-hidden
    user-select: none
    &__title
        margin-top: 0!important
        margin-bottom: 16px!important
        cursor: pointer
        &:hover ~ .block-hidden__describe
            opacity: 1
            visibility: visible
    &__describe
        display: inline-block
        position: relative
        opacity: 0
        visibility: hidden
        transition: .3s all
        &:after
            content: ''
            position: absolute
            right: 0
            bottom: 0
            left: 0
            height: 2px
            background: $operative

.block-review
    border-bottom: 2px solid $operative
    &__avatar
        width: 64px
        height: 64px

.block-genoraport
    position: relative
    &__arrow
        position: absolute
        top: 0
        left: 0
        width: 100%
        transform: translate(-12%, -40%)
        z-index: -1

.block-relax
    height: auto
    overflow-x: hidden
    &__slide
        background-size: cover
        background-position: center
    &__content 
        height: calc(100vh - 32px)
        overflow-y: auto
        &::-webkit-scrollbar 
            width: 4px
        &::-webkit-scrollbar-track 
            background: transparent
        &::-webkit-scrollbar-thumb
            background: #3687D0
            border-radius: 4px
        p
            font-size: 1.5rem
            line-height: 2.25rem
    &__pagination
        position: absolute!important
        left: 25%!important
        top: 100%!important
        right: inherit!important
        bottom: inherit!important
        transform: translate(-50%, -100%)!important
        z-index: 999
    &__link
        position: relative!important
        width: 64px!important
        height: 64px!important
        margin-right: auto!important
        margin-left: auto!important
        background: $white!important
        border-radius: 50%!important
        overflow: hidden!important
        cursor: pointer!important
        opacity: 1!important
        outline: none!important
    &__logo
        position: absolute
        top: 50%
        left: 50%
        width: 50%
        height: 50%
        transform: translate(-50%, -50%)
        z-index: 10
        pointer-events: none

@media only screen and (max-width: 1367px)
    .block-genoraport
        display: none
    .block-relax
        &__pagination
            left: 50%!important

@media only screen and (max-width: 769px)
    .block-image
        &__advanced
            width: 50%
        &__underblock
            top: calc(100% - 128px)
            left: calc(50% - 128px)
            max-width: 256px 
            max-height: 256px 
        &--full, &--small
            height: 50vh
    .block-list
        &__el:before
            top: 26px
    .block-hidden
        margin-bottom: 0
        text-align: left
        &__describe
            opacity: 1
            visibility: visible
    
@media only screen and (max-width: 425px) 
    .block-relax
        &__content 
            height: 100vh