.block
    position: relative
    margin-right: auto
    margin-left: auto
    &__title
        font-family: value-regular!important
    &__photo > .card:last-of-typeb 
        margin-bottom: 0
    &--texcen
        text-align: center
    &--hidden
        overflow: hidden

.block-image
    position: relative
    width: 100%
    &--full 
        height: 992px
    &--small
        height: 499px
    &--256
        height: 256px 
    &__el
        position: absolute
        top: 0
        right: 0
        width: 100%
        height: 100%
        object-fit: cover
        &--contain
            object-fit: contain
    &__underblock
        position: absolute
        top: calc(100% - 190px)
        left: calc(50% - 190px)
        max-width: 380px 
        max-height: 380px 

/* Block for page "River Operation" */
.block-operation
    text-align: center
    &__wrapper
        text-align: left
        overflow: hidden
        transition: .8s all
        &--disabled
            max-height: 0
    

.block-advanced
    p
        margin-top: 0!important
    &__icon
        position: relative
        margin-right: auto
        margin-left: auto
        width: 64px
        height: auto


.block-list 
    &__el--underline
        position: relative
        &:before
            content: ''
            position: absolute
            top: 32px
            left: 0
            width: 48px
            height: 2px
            background: $operative

.block-hidden
    user-select: none
    &__title
        margin-top: 0!important
        margin-bottom: 16px!important
        cursor: pointer
        &:hover ~ .block-hidden__describe
            opacity: 1
            visibility: visible
    &__describe
        display: inline-block
        position: relative
        opacity: 0
        visibility: hidden
        transition: .3s all
        &:after
            content: ''
            position: absolute
            right: 0
            bottom: 0
            left: 0
            height: 2px
            background: $operative

.block-review
    border-bottom: 2px solid $operative
    &__avatar
        width: 64px
        height: 64px

@media only screen and (max-width: 768px)
    .block-image
        &__advanced
            width: 50%
        &__underblock
            top: calc(100% - 128px)
            left: calc(50% - 128px)
            max-width: 256px 
            max-height: 256px 
        &--full, &--small
            height: 50vh
    .block-list
        &__el:before
            top: 26px
    .block-hidden
        margin-bottom: 0
        text-align: left
        &__describe
            opacity: 1
            visibility: visible