/* White */
.c-wh
   color: $white 
.bck-wh
    background: $white

/* Black */
.c-blck
   color: $black
.bck-blck
    background: $black

/* Cobe color (Purple) */
.c-cb
   color: $cobe 
.bck-cb
    background: $cobe

/* ***** 50 faces of Grey ***** */

/* Main */
.c-gm
   color: $grey-main 
.bck-gm
    background: $grey-main

/* Secondary */
.c-gs
   color: $grey-secondary 
.bck-gs 
    background: $grey-secondary

/* Tertiary */
.c-gt
   color: $grey-tertiary 
.bck-gt
    background: $grey-tertiary

/* Operative */
.c-op
   color: $operative
.bck-op
    background: $operative

.bck-gradbp
  background: #63ebd2
  background: linear-gradient(to bottom, #63ebd2 0%,#a951bb 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63ebd2', endColorstr='#a951bb',GradientType=0 )