.container
    box-sizing: border-box
    max-width: 1200px
    padding-right: 16px
    padding-left: 16px
    margin-right: auto
    margin-left: auto
    &_960
        max-width: 960px
    &_640
        max-width: 640px