.m-WYSIWYG{
    p{
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.5rem;
        line-height: 1.5em;
    }
    ul, ol{
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
    a{
        font-family: value-black;
        color: inherit;
    }
}