.reset{
    padding: 0!important;
    margin: 0!important;
}

.reset-top{
    padding-top: 0!important;
    margin-top: 0!important;
}

.reset-bottom{
    padding-bottom: 0!important;
    margin-bottom: 0!important;
}

.reset-link{
    color: inherit;
    text-decoration: inherit;
}
    
.reset-list{
    padding-left: 0!important;
    list-style: none!important;
    li:first-child{
        margin-left: 0!important;
    }
    li:last-child{
        margin-right: 0!important;
    }
}