.header-sygnets{
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 14px;
}

@media only screen and (max-width: 768px){
    .header-sygnets{
        width: 36px;
        height: 36px;
        margin-right: 8px;   
    }
}

