.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: .6s all; 
    &:hover .header-sygnets__sygnet--black{ 
        opacity: 1;
        visibility: visible;
    }
    &:hover{
        background: $white;
    }
    &:hover .header-menu, &:hover .header-extra__menu, &:hover .header__hamburger, &:hover .header-logo{
        color: $black;
    }
    &--active{ 
        background: $white;
        color: $black;
        .header-sygnets__sygnet--black{
            opacity: 1;
            visibility: visible;
        }
        .header-sygnets__sygnet--white{
            opacity: 0;
            visibility: hidden;
        }
    }
    &__hamburger{
        position: relative;
        display: none;
        cursor: pointer;
    }
}


@media only screen and (max-width: 1366px){
    .header{
        &__hamburger{
            display: block;
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 768px){
    .header{
        margin: 0;
        padding: 8px 24px;
        background: $white;
        color: $black;
        &__hamburger{
            margin: 0;
        }
    }
}
