/*  ___
    Component Wrapper Start
    ___
*/

.l-Wrapper{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    @media only screen and ( min-width: $bpoint-ntb ) {
        width: calc(100% - #{$wrapperGap * 2});
        margin-top: $wrapperGap;
        margin-right: $wrapperGap;
        margin-left: $wrapperGap;
        margin-bottom: $wrapperGap;
    }
}

/* --> : Component Modificators : <-- */
.l-Wrapper{
    &--fullscreen{
        width: calc(100vw - #{$wrapperGap * 2});
        height: calc(100vh - #{$wrapperGap * 2});
        @media only screen and ( min-width: $bpoint-ntb ) {
            margin-top: $wrapperGap;
            margin-right: $wrapperGap;
            margin-left: $wrapperGap;
            margin-bottom: $wrapperGap;
        }
    }
}