/* Contact form for page "Contact" */
.form-contact {
    position: relative;
    width: 100%;
    p {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .wpcf7-validation-errors, .ajax-loader {
        display: none !important;
    }
    .your-name, .your-email, .your-message {
        input, textarea {
            box-sizing: border-box;
            width: 100%;
            padding: 16px;
            margin-bottom: 16px;
            color: $black;
            border: none;
            outline: none;
            font-size: 1rem;
            font-family: value-regular;
            &::placeholder {
            color: $black;
            }
        }
        textarea {
            resize: none;
        }
    }
    .wpcf7-not-valid-tip {
        margin-bottom: 16px;
        text-decoration: underline;
        color: $white;
    }
    .your-name, .your-email {
        display: block;
        width: calc( 50% - 16px);
    }
    .your-name {
        margin-right: 16px;
    }
    .your-email {
        margin-left: 16px;
    }
    .your-message {
        width: 100%;
    }
    .wpcf7-submit {
        padding: 8px 64px;
        background: $white;
        border: none;
        outline: none; 
        font-size: 1rem;
        font-family: value-regular;
        cursor: pointer;
    }
}