/* : Filter background + is needed extra color from color classes : */
.filter-back{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .4;
    transition: .3s all;
    &__video{
        opacity: .7;
    }
}
