.link-share{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 64px;
    text-transform: lowercase;
    border-radius: 12px;
    border: 2px solid $grey-secondary;
}

@media only screen and (max-width: 425px){
    .link-share{
        margin-right: 0;
        margin-left: 0;
        &:last-child{
            margin-top: 16px;
        }
    }
}
