.link-category
    display: inline-block
    padding-top: 8px
    padding-right: 24px
    padding-bottom: 8px
    padding-left: 24px
    border: 1px solid $white
    border-radius: 4px
    color: $white
    transition: .3s all
    user-select: none
    &:hover
        color: $grey-tertiary
        background: $white
    &--active
        color: $grey-secondary
        background: $white

.link-more
    position: relative
    text-transform: uppercase
    &--black
        &:before
            background: $black!important
        &:after
            background: $black!important
    &:before
        content: ''
        position: absolute
        bottom: -1px
        left: 0
        right: 50%
        height: 1px
        background: $white
        transition: .5s all
    &:after
        content: ''
        position: absolute
        bottom: -1px
        left: 50%
        right: 0
        height: 1px
        background: $white
        transition: .5s all
    &:hover:before
        left: 100%
    &:hover:after
        right: 100%

.link-share
    display: flex
    justify-content: center
    align-items: center
    width: 176px
    height: 64px
    text-transform: lowercase
    border-radius: 12px
    border: 2px solid $grey-secondary

.link-icon
    position: relative
    display: inline-block
    width: 24px
    height: 24px
    &__icon
        width: 100%
        vertical-align: middle

@media only screen and (max-width: 425px)
    .link-share
        margin-right: 0
        margin-left: 0
        &:last-child
            margin-top: 16px
