/*_________________________

Layout Brain Start

_______________*/

.l-brain{

}

/* ---> : Layout Elements Start : <--- */
.l-brain{
    &__linesmall, &__linebig{
        box-sizing: border-box;
        position: absolute;
		border-radius: 50%;
		border: 16px solid transparent;
        border-top: 16px solid $black;
        border-left: 16px solid $black;
		transform-origin: 50%;
    }
    &__circle {
        position: relative;
        width: 180px;
        height: 180px;
        margin: auto;
        background: $brain;
        border-radius: 50%;
    }
    &__linesmall {
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;
        animation: rotate360 5s infinite linear;
    }
    &__linebig {
        top: -5px;
        right: -5px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        animation: rotate-360 6s infinite linear;
    }
    &__rect {
		position: absolute;
		width: 20px;
		height: 20px;
        background: $head;
        animation: rect-black 2s infinite linear;
        &:nth-of-type(1){
            top: calc(50% - 10px);
            left: -64px;
            animation-delay: 1s;
        }
        &:nth-of-type(2){
            top: -64px;
            left: calc(50% - 10px);
            animation-delay: 3s;
        }
        &:nth-of-type(3){
            top: calc(50% - 10px);
            right: -64px;
            animation-delay: 5s;
        }
	}
}


@media only screen and (max-width: 1367px) {
	.l-brain {
		display: none;
	}
}