/*_________________________
Layout DNA Start
_______________*/

.l-dna{
    position: relative;
    width: 100%;
    height: calc(100vh - 32px);
}

/* ---> : Layout Elements Start : <--- */
.l-dna{
    &__canvas{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
