/*_________________________

Layout Head Start

_______________*/

.l-head{
    transform: rotate(10deg);
}

/* ---> : Layout Elements Start : <--- */
.l-head{
    &__image {
        height: 384px;
    }
    &__linesmall, &__linebig{
        position: absolute;
		border-radius: 50%;
		border: 8px solid transparent;
		border-top: 8px solid $black;
		border-left: 8px solid $black;
		transform-origin: 50%;
    }
    &__linesmall {
        top: 80px;
        right: 80px;
        width: 60px;
        height: 60px;
        animation: rotate360 3s infinite linear;
    }
    &__linebig {
        top: 59px;
        right: 57px;
        width: 100px;
        height: 100px;
        animation: rotate-360 5s infinite linear;
    }
    &__rect {
        position: absolute;
		width: 13px;
		height: 13px;
		background: $head;
        &:nth-of-type(1) {
            top: 68px;
            right: 176px;
            transform: rotate(45deg);
            animation: rect-black 2s infinite linear;
            animation-delay: 1s;
        }
        &:nth-of-type(2) {
            top: 32px;
            right: 105px;
            animation: rect-black 2s infinite linear;
            animation-delay: 3s;
        }
        &:nth-of-type(3) {
            top: 68px;
            right: 46px;
            transform: rotate(45deg);
            animation: rect-black 2s infinite linear;
            animation-delay: 5s;
        }
    }
}


@media only screen and (max-width: 1367px) {
	.l-head {
		display: none;
	}
}