/*_________________________

Component Button Start

_______________*/

.c-button{
    color: inherit;
    background: inherit;
    border: inherit;
    outline: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
}

/* ---> : Elements of Component : <--- */
.c-button{

}

/* ---> : Modificators of Component : <--- */
.c-button{
    &--br4{
        border-radius: 4px;
    }
}