/*_________________________

Component List Start

_______________*/

.c-link{
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}

/* --> : Component Elements : <-- */

.c-link{
    &__circle{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            bottom: -7px;
            left: calc(50% - 2px);
            width: 4px;
            height: 4px;
            background: $operative;
            border-radius: 50%;
            visibility: hidden;
            opacity: 0;
            transition: .3s all;
            z-index: 99;
        }
        &:hover:before{
            visibility: visible;
            opacity: 1;
        } 
    }
    &__category{
        display: inline-block;
        padding-top: 8px;
        padding-right: 24px;
        padding-bottom: 8px;
        padding-left: 24px;
        border: 1px solid $white;
        border-radius: 4px;
        color: $white;
        transition: .3s all;
        user-select: none;
        &:hover{
            color: $operative;
            background: $white;
        }
    }
}

/* ---> : Component Modificators Start : <--- */

.c-link{
    &--backbefwhite:before{
        background: $white;
    }
    &--catactive{
        color: $operative;
        background: $white;
    }
}