html, body{
    font-size: 16px;
    line-height: 24px;
    font-family: 'value-regular', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    overflow-x: hidden;
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

p{
    margin-top: 1em;
    margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: Sanchez;
    line-height: 1.5em;
}

h1{
    font-size: 3rem;  // 48px
}
h2{
    font-size: 2rem;  // 32px
}
h3{
    font-size: 1.5rem;  // 24px
}
h4{
    font-size: 1.25rem;  // 20px
}
h5{
    font-size: 1.2rem;  // 19.2px
}
h6{
    font-size: 1.15rem;  // 18.4px
}

strong{
    font-family: value-black;
}

ul, ol{
    padding-left: 32px;
}

ul{
    list-style:  disc;
}
ol{
    list-style:  decimal;
}

@media only screen and (max-width: 768px){
    html, body{
        font-size: 13px;
        line-height: 26px;
    }
    h1{
        font-size: 2.3rem;  // 32.5px
    }
}