/* ---> : Gutters : <--- */
$gutters-full: (
    8, 
    16, 
    24, 
    (32, 32 * .8), 
    (64, 64 * .8), 
    (128, 128 * .8), 
    (160, 160 * .8), 
    (224, 224 * .8)
);

/* ---> : Directions : <--- */
$directions: (
    ('', ''), 
    ('t', '-top'), 
    ('r', '-right'), 
    ('b', '-bottom'), 
    ('l', '-left')
);  

/* ---> : BreakPoints : <--- */
$bpoint-full: 1600px;
$bpoint-ntb: 1366px;
$bpoint-tab: 768px;

/* ---> : Colors : <--- */
$black: black;
$white: white;
$operative: rgb(0,82,195);
$operative-grad: linear-gradient(135deg, rgba(0,82,195,1) 0%, rgba(0,41,98,1) 100%);
$grey-main: #F8F8F8;
$grey-secondary: #DFE0DE;
$grey-tertiary: #B9B9B9;
$cobe: #BC54E1;
$brain: #f0bc5e;
$head: #ccc;