/*  ___
    Layout Welcome Start
    ___
*/

.m-BannerSmall{
    position: relative;
}

/* ---> : Layout Elements Start : <--- */
.m-BannerSmall{
    &__phone{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
    }
    &__content{
        position: relative;
        *{
            font-family: value-regular, sans-serif;
        }
    }
    &__image{
        transform: translateY(55%) scale(1.5);
        animation: fendoff-mobile 8s ease-in-out infinite;
        @media only screen and ( min-width: $bpoint-tab ){
            transform: translateY(0) scale(1.5);
            animation: fendoff 8s ease-in-out infinite;
        }
    }
}

/* ---> : Layout Modificators Start : <--- */
.m-BannerSmall{

}

@keyframes fendoff-mobile{
    0%{
        transform: translateY(55%) scale(1.5);
    }
    50%{
        transform: translateY(50%) scale(1.5);
    }
    100%{
        transform: translateY(55%) scale(1.5);
    }
}

@keyframes fendoff{
    0%{
        transform: translateY(0) scale(1.5);
    }
    50%{
        transform: translateY(-10px) scale(1.5);
    }
    100%{
        transform: translateY(0) scale(1.5);
    }
}