.fade {
    opacity: 0;
    visibility: hidden;
}
  
@keyframes rotate360 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-360 {
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rect-black {
    0% {
        background: $head;
    }
    50% {
        background: $black;
    }
    100% {
        background: $head;
    }
}