/*_________________________
Component Button Start
_______________*/

.c-button{
    @include input-reset();
    cursor: pointer;
}

/* ---> : Elements of Component : <--- */
.c-button{
    &__operative{
        padding-top: 16px;
        padding-right: 24px;
        padding-bottom: 16px;
        padding-left: 24px;
        color: $white;
        background-color: $operative;
    }
    &__buy{
        padding-top: 8px;
        padding-right: 32px;
        padding-bottom: 8px;
        padding-left: 32px;
    }
}

/* ---> : Modificators of Component : <--- */
.c-button{
    &--br4{
        border-radius: 4px;
    }
    &--full{
        width: 100%;
    }
}