/*_________________________

Component Card Start

_______________*/

.c-card{
    position: relative;
}

/* --> : Component Elements : <-- */
.c-card{
    &__cat{  
        position: relative;
        border-right: 1px dotted $grey-tertiary;
    }
}

/* --> : Component Modificators : <-- */
.c-card{
    &--328{
        height: 328px;
    }
    &--192{
        height: 192px;
    }
}

@media only screen and (max-width: 1366px){
    /* --> : Component Modificators : <-- */
    .c-card{
        &--328{
            height: 288px
        }
    }
}

@media only screen and (max-width: 768px){
    /* --> : Component Modificators : <-- */
    .c-card{
        &--328{
            height: 256px
        }
    }
}