/*_________________________

Component Map Start
_______________*/
$marker-interval: .4;
$marker-count: 3;

.c-marker{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $operative;
    color: $white;
    font-size: 1rem;
}

/* ---> :Elements of Component: <--- */
.c-marker{
    &__circle{
        position: absolute;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid $operative;
        animation: pulse 2s infinite ease-in-out;
        @for $i from 1 through $marker-count{
            &:nth-of-type(#{$i}){
                animation-delay: #{$i * $marker-interval}s;
            }
        }
    } 
}

@keyframes pulse{
    to{
        transform: scale(2); 
        opacity: 0;
    }
}