/*_________________________
Component Textarea Start
_______________*/

.c-textarea{
    @include input-reset(); 
    resize: none;
}

/* ---> : Elements of Component : <--- */
.c-textarea{
    &__classic{
        @include input-textarea-classic();
        height: 328px;
    }
    &__classic{
        @include input-textarea-classic2();
        height: 328px;
    }
}