.contact{
    &__content{
        z-index: 11;
    }
}

/* Recaptcha */
.grecaptcha-badge{
    z-index: 999;
}

@media only screen and (max-width: 768px){
    .contact{
        .your-name, .your-email{
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }
    }
}
