/* : Block for Genoraport page : */
.block-genoraport{
    position: relative;
    &__arrow{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translate(-12%, -40%);
        z-index: -1; 
    }
}

@media only screen and (max-width: 1367px){
    .block-genoraport{
        display: none;
    }
}