/* Block for page "River Operation" */
.block-operation{
    text-align: center;
    &__wrapper{
        text-align: left;
        overflow: hidden;
        transition: .8s all;
        &--disabled{
            max-height: 0;
        }
    }
}