/* : Created for relax map : */
.block-relax{
    height: auto;
    overflow-x: hidden;
    &__slide{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -25vw center;
    }
    &__content{ 
        height: calc(100vh - 32px);
        overflow-y: auto;
        &::-webkit-scrollbar{
            width: 4px;
        }
        &::-webkit-scrollbar-track{
            background: transparent;
        }
        &::-webkit-scrollbar-thumb{
            background: #3687D0;
            border-radius: 4px;
        }
        p{
            font-size: 1.5rem;
            line-height: 2.25rem;
        }
    }
    &__pagination{
        position: absolute!important;
        left: 25%!important;
        top: 100%!important;
        right: inherit!important;
        bottom: inherit!important;
        transform: translate(-50%, -100%)!important;
        z-index: 999;
    }
    &__link{
        position: relative!important;
        width: 64px!important;
        height: 64px!important;
        margin-right: auto!important;
        margin-left: auto!important;
        background: $white!important;
        border-radius: 50%!important;
        overflow: hidden!important;
        cursor: pointer!important;
        opacity: 1!important;
        outline: none!important;
    }
    &__logo{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        pointer-events: none;
    }
}

@media only screen and (max-width: 1367px){
    .block-relax{
        &__pagination{
            left: 50%!important;
        }
    }
}

@media only screen and (max-width: 425px){
    .block-relax{
        &__content{
            height: 100vh;
        }
    }
}