/*_______________________
    Variables Start
________*/

/* ---> : Gutters : <--- */

/* ---> : Directions : <--- */

/* ---> : BreakPoints : <--- */

/* ---> : Colors : <--- */

/*_______________________
    Mixins Start
________*/

/*_______________________
    Fonts Start
________*/

@font-face {
  font-family: 'value-black';
  src: url("../fonts/Value/value-black-web/value-black.eot"), url("../fonts/Value/value-black-web/value-black.eot?#iefix") format("embedded-opentype"), url("../fonts/Value/value-black-web/value-black.woff") format("woff"), url("../fonts/Value/value-black-web/value-black.woff2") format("woff2"), url("../fonts/Value/value-black-web/value-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'value-regular';
  src: url("../fonts/Value/value-regular-web/value-regular.eot"), url("../fonts/Value/value-regular-web/value-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Value/value-regular-web/value-regular.woff") format("woff"), url("../fonts/Value/value-regular-web/value-regular.woff2") format("woff2"), url("../fonts/Value/value-regular-web/value-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sanchez-regular';
  src: url("../fonts/Sanchez/Sanchez-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*_______________________
    Libraries Start
________*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*_______________________
    Base Start
________*/

html,
body {
  font-size: 16px;
  font-family: 'value-regular', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: Sanchez;
  line-height: 1.5em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.15rem;
}

strong {
  font-family: value-black;
}

ul,
ol {
  padding-left: 32px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

/* --------------------------> Modules <------------------------ */

/*_______________________
    Filter Start
________*/

.filter--zmax {
  z-index: 10;
}

/* : Filter background + is needed extra color from color classes : */

.filter-back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .4;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.filter-back__video {
  opacity: .7;
}

/* : Video filter : */

.filter-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) and (-ms-ime-align: auto) {
  .filter-video {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

/*_______________________
    Blocks Start
________*/

.block {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.block__title {
  font-family: value-regular !important;
}

.block__photo > .card:last-of-type {
  margin-bottom: 0;
}

.block--full {
  min-height: calc(100vh - 32px);
}

.block--texleft {
  text-align: left;
}

.block--texcen {
  text-align: center;
}

.block--texright {
  text-align: right;
}

.block--hidden {
  overflow: hidden;
}

/* : Image block : */

.block-image {
  position: relative;
  width: 100%;
}

.block-image--full {
  height: 80vh;
}

.block-image--small {
  height: 40vh;
}

.block-image--256 {
  height: 256px;
}

.block-image--boxsh {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
}

.block-image__el {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.block-image__el--contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.block-image__underblock {
  position: absolute;
  top: calc(100% - 190px);
  left: calc(50% - 190px);
  max-width: 380px;
  max-height: 380px;
}

.block-videogallery__element {
  position: relative;
  width: 100%;
  min-height: 1px;
  -webkit-transition: min-height .8s ease-in-out;
  transition: min-height .8s ease-in-out;
}

.block-videogallery__element:hover .block-videogallery__controls {
  opacity: 1;
  visibility: visible;
}

.block-videogallery__element--active {
  min-height: calc(90vh - 128px);
}

.block-videogallery__name {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
}

.block-videogallery__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.block-videogallery__controls {
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

/* : Video modules : */

.video-controls {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 64px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.video-controls__button {
  position: absolute;
  left: 50%;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transform: translateX(-65%);
  transform: translateX(-65%);
  -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.video-controls__play i {
  left: 3px;
}

.video-controls__stop {
  opacity: 0;
  visibility: hidden;
}

.video-controls__stop--active {
  opacity: 1;
  visibility: visible;
}

.video-controls__icon {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-65%);
  transform: translateY(-65%);
}

/* : Page modules : */

.page__title {
  position: relative;
  text-align: center;
}

.page__content {
  font-size: 1.5rem;
  line-height: 1.5em;
}

.page__content a {
  font-family: value-black;
  color: inherit;
}

.page__mind {
  position: relative;
  height: 60vh;
}

/* : Post modules : */

.post__title {
  position: relative;
  text-align: center;
}

.post__sygnet {
  position: absolute;
  bottom: -96px;
  left: calc(50% - 96px);
  width: 192px;
  height: 192px;
}

.post__content p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5rem;
  line-height: 1.5em;
}

.post__content ul,
.post__content ol {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.post__content a {
  font-family: value-black;
  color: inherit;
}

.post__avatar {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}

.post__avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* : Prop slider modules : */

.prop-slider {
  position: relative;
  background-position: 0 0;
  background-size: cover;
  -webkit-transition: .6s all;
  transition: .6s all;
  overflow: hidden;
}

.prop-slider_content {
  position: relative;
  margin-top: 208px;
  margin-right: auto;
  margin-left: auto;
}

.prop-slider_container {
  position: relative;
  width: 100%;
}

.prop-slider_card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .6s all;
  transition: .6s all;
}

.prop-slider_card__active {
  position: relative;
  opacity: 1;
  visibility: visible;
}

.prop-slider_card__title {
  position: relative;
  display: inline-block;
}

.prop-slider_card__title:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2rem;
  background: white;
  opacity: 0.2;
}

.prop-slider_pagination {
  position: relative;
  margin-top: 180px;
}

.prop-slider_pagination__el {
  opacity: .6;
  cursor: pointer;
}

.prop-slider_pagination__active {
  opacity: 1;
}

/* : Recent posts slider modules : */

.recent-posts {
  position: relative;
  overflow: hidden;
  /* For recent double slider */
  /* For recent normal slider */
}

.recent-posts_nav__el {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #B9B9B9;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.recent-posts_nav__el:after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  height: 2px;
  background: black;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.recent-posts_nav__active {
  color: black;
}

.recent-posts_nav__active:after {
  visibility: visible;
  opacity: 1;
}

.recent-posts_vh {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.recent-posts_vh__active {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.recent-posts_vh_pagination > .swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: #0052c3 !important;
  cursor: pointer;
  opacity: 0.25 !important;
  -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.recent-posts_vh_pagination > .swiper-pagination-bullet-active {
  opacity: 1 !important;
  -webkit-transform: scale(2);
  transform: scale(2);
}

.recent-posts_s496 {
  position: relative;
  width: 100%;
  height: 496px;
  cursor: default;
}

.recent-posts_s496_pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.recent-posts_s496_pagination > .swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
  background: rgba(255, 255, 255, 0.25) !important;
  cursor: pointer;
  opacity: 1 !important;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.recent-posts_s496_pagination > .swiper-pagination-bullet-active {
  -webkit-transform: scale(2);
  transform: scale(2);
  background: white !important;
}

.recent-posts_s496 > .swiper-pagination-bullets {
  bottom: 0 !important;
  width: 50% !important;
}

/* : Search modules : */

.searchform {
  text-align: right;
}

.searchform__button,
.searchform__input {
  border: none;
  outline: none;
  color: white;
  background: transparent;
}

.searchform__input {
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  -webkit-transition: .3s all;
  transition: .3s all;
  font-family: value-regular;
  font-size: .9rem;
}

.searchform__input:hover {
  color: black;
  background: white;
}

.searchform__input::-webkit-input-placeholder {
  color: white;
}

.searchform__input::-moz-placeholder {
  color: white;
}

.searchform__input:-ms-input-placeholder {
  color: white;
}

.searchform__input::-ms-input-placeholder {
  color: white;
}

.searchform__input::placeholder {
  color: white;
}

.searchform__button {
  padding: 8px;
  cursor: pointer;
  font-size: 1rem;
}

/*_______________________
    Global Elements Start
________*/

/* Layouts Container */

.l-Container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1200px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

/* --> : Modificators of Element : <-- */

.l-Container--960 {
  max-width: 960px;
}

.l-Container--480 {
  max-width: 480px;
}

.l-Container--posts {
  max-width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}

.pc-col-1,
.ntb-col-1,
.tbl-col-1,
.mbl-col-1,
.pc-col-2,
.ntb-col-2,
.tbl-col-2,
.mbl-col-2,
.pc-col-3,
.ntb-col-3,
.tbl-col-3,
.mbl-col-3,
.pc-col-4,
.ntb-col-4,
.tbl-col-4,
.mbl-col-4,
.pc-col-5,
.ntb-col-5,
.tbl-col-5,
.mbl-col-5,
.pc-col-6,
.ntb-col-6,
.tbl-col-6,
.mbl-col-6,
.pc-col-7,
.ntb-col-7,
.tbl-col-7,
.mbl-col-7,
.pc-col-8,
.ntb-col-8,
.tbl-col-8,
.mbl-col-8,
.pc-col-9,
.ntb-col-9,
.tbl-col-9,
.mbl-col-9,
.pc-col-10,
.ntb-col-10,
.tbl-col-10,
.mbl-col-10,
.pc-col-11,
.ntb-col-11,
.tbl-col-11,
.mbl-col-11,
.pc-col-12,
.ntb-col-12,
.tbl-col-12,
.mbl-col-12 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}

.mbl-col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.mbl-col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.mbl-col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.mbl-col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.mbl-col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.mbl-col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.mbl-col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.mbl-col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.mbl-col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.mbl-col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.mbl-col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.mbl-col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

/* Floats */

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.d-ib {
  display: inline-block;
}

/* Flex */

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-kit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fwrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row {
  margin-right: -16px;
  margin-left: -16px;
}

.fd-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fd-rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.jcs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.jcc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.jce {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.jcsb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jcsa {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ais {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.aic {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.aie {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

/*  ___
    Component Image Start
    ___
*/

.c-Image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
}

/* --> : Component Elements : <-- */

.c-Image__wave {
  position: absolute;
  top: 100%;
  left: 5%;
  width: 80%;
  max-height: 24px;
}

/* --> : Component Modificators : <-- */

.c-Image--contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.c-Image--36wh {
  width: 36px;
  height: 36px;
}

.c-Image--24wh {
  width: 24px;
  height: 24px;
}

/*_______________________
    Layouts Start
________*/

/*_________________________

Layout Header Start

_______________*/

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 32px;
  padding-right: 40px;
  padding-bottom: 16px;
  padding-left: 40px;
  z-index: 9999;
  -webkit-transition: background-color .6s ease-in-out;
  transition: background-color .6s ease-in-out;
}

.l-header:hover {
  background-color: white;
}

.l-header:hover .l-header__logo,
.l-header:hover .l-header__menu,
.l-header:hover .l-header__extra {
  color: black;
}

/* ---> : Layout Elements Start : <--- */

.l-header__sygnets {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 14px;
}

/* ---> : Layout Modificators Start : <--- */

.l-header--active {
  background-color: white !important;
  color: black !important;
}

.l-header--active .c-flip__back {
  opacity: 1;
  visibility: visible;
}

.l-header--active .c-flip__front {
  opacity: 0;
  visibility: hidden;
}

/*_________________________

Layout Footer Start

_______________*/

.l-footer {
  position: relative;
}

/*_________________________

Layout Public Image Start

_______________*/

/* --> : Component Elements : <-- */

.l-pubimage__container {
  position: relative;
}

.l-pubimage__sygnet {
  position: absolute;
  left: calc(50% - 32px);
  bottom: -32px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 999;
}

/* --> : Component Modificators : <-- */

.l-pubimage--2xfull {
  height: 160vh;
}

.l-pubimage--full {
  height: 80vh;
}

.l-pubimage--small {
  height: 40vh;
}

.l-pubimage--256 {
  height: 256px;
}

.l-pubimage--boxsh {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
}

/*_________________________

Layout Gallery Start

_______________*/

.l-gallery-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.l-gallery-image .swiper-slide-thumb-active {
  opacity: 1;
  cursor: default;
}

.l-gallery-image .swiper-button-disabled {
  opacity: .5;
  cursor: default;
}

/* ---> : Layout Elements Start : <--- */

.l-gallery-image__top {
  position: relative;
  width: 100%;
  height: 70vh;
}

.l-gallery-image__bottom {
  width: 100%;
  height: 100px;
}

.l-gallery-image__thumb {
  opacity: .5;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}

.l-gallery-image__next,
.l-gallery-image__prev {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 64px;
  outline: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99;
  cursor: pointer;
}

.l-gallery-image__next {
  right: 16px;
}

.l-gallery-image__prev {
  left: 16px;
}

/*_________________________

Layout 404 Start

_______________*/

.l-404 {
  overflow: hidden;
}

/*_________________________

Layout Brain Start

_______________*/

/* ---> : Layout Elements Start : <--- */

.l-brain__linesmall,
.l-brain__linebig {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  border: 16px solid transparent;
  border-top: 16px solid black;
  border-left: 16px solid black;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

.l-brain__circle {
  position: relative;
  width: 180px;
  height: 180px;
  margin: auto;
  background: #f0bc5e;
  border-radius: 50%;
}

.l-brain__linesmall {
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  -webkit-animation: rotate360 5s infinite linear;
  animation: rotate360 5s infinite linear;
}

.l-brain__linebig {
  top: -5px;
  right: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  -webkit-animation: rotate-360 6s infinite linear;
  animation: rotate-360 6s infinite linear;
}

.l-brain__rect {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ccc;
  -webkit-animation: rect-black 2s infinite linear;
  animation: rect-black 2s infinite linear;
}

.l-brain__rect:nth-of-type(1) {
  top: calc(50% - 10px);
  left: -64px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.l-brain__rect:nth-of-type(2) {
  top: -64px;
  left: calc(50% - 10px);
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.l-brain__rect:nth-of-type(3) {
  top: calc(50% - 10px);
  right: -64px;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

/*_________________________

Layout Head Start

_______________*/

.l-head {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

/* ---> : Layout Elements Start : <--- */

.l-head__image {
  height: 384px;
}

.l-head__linesmall,
.l-head__linebig {
  position: absolute;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top: 8px solid black;
  border-left: 8px solid black;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

.l-head__linesmall {
  top: 80px;
  right: 80px;
  width: 60px;
  height: 60px;
  -webkit-animation: rotate360 3s infinite linear;
  animation: rotate360 3s infinite linear;
}

.l-head__linebig {
  top: 59px;
  right: 57px;
  width: 100px;
  height: 100px;
  -webkit-animation: rotate-360 5s infinite linear;
  animation: rotate-360 5s infinite linear;
}

.l-head__rect {
  position: absolute;
  width: 13px;
  height: 13px;
  background: #ccc;
}

.l-head__rect:nth-of-type(1) {
  top: 68px;
  right: 176px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: rect-black 2s infinite linear;
  animation: rect-black 2s infinite linear;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.l-head__rect:nth-of-type(2) {
  top: 32px;
  right: 105px;
  -webkit-animation: rect-black 2s infinite linear;
  animation: rect-black 2s infinite linear;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.l-head__rect:nth-of-type(3) {
  top: 68px;
  right: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: rect-black 2s infinite linear;
  animation: rect-black 2s infinite linear;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

/*_________________________

Layout Team Start

_______________*/

.l-team {
  position: relative;
}

/* ---> : Layout Elements Start : <--- */

.l-team__vehicle {
  position: absolute;
  top: 12%;
  left: 40%;
  width: 20%;
  height: 20%;
  -webkit-animation: rotate360 5s infinite linear;
  animation: rotate360 5s infinite linear;
}

/*_________________________

Layout Welcome Start

_______________*/

.l-welcome {
  position: relative;
}

/* ---> : Layout Elements Start : <--- */

.l-welcome__phone {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

.l-welcome__content {
  position: relative;
}

.l-welcome__image {
  -webkit-transform: translateY(55%) scale(1.5);
  transform: translateY(55%) scale(1.5);
}

/* ---> : Layout Modificators Start : <--- */

/*_________________________
Layout DNA Start
_______________*/

/* ---> : Layout Elements Start : <--- */

.l-dna__canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.l-dna .wpcf7-response-output {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.l-dna .wpcf7-not-valid-tip {
  font-size: .8rem;
}

/*_______________________
    Modules Start
________*/

/*__________________
    Module Hero
______*/

.m-Hero {
  position: relative;
  min-height: calc(100vh - 32px);
  background-size: cover;
  background-position: 0 0;
  overflow: hidden;
}

/* ---> :Elements of Module: <--- */

.m-Hero__side {
  position: relative;
  background-size: cover;
  background-position: center;
}

.m-Hero__content {
  position: relative;
}

/* ---> :Modificators of Module: <--- */

/* 	____
	Breadcrumbs Module
	____
*/

.m-Breadcrumbs {
  text-align: center;
  text-transform: uppercase;
}

.m-Breadcrumbs strong {
  color: #B9B9B9;
}

.m-Breadcrumbs a {
  color: inherit;
  text-decoration: none;
}

/* 	____
	Breadcrumbs Module
	____
*/

/* :Elements: */

.m-SmallGallery__item {
  position: relative;
}

/*_______________________
    Components Start
________*/

/*_________________________
Component Button Start
_______________*/

.c-button {
  color: inherit;
  background: inherit;
  border: inherit;
  outline: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

/* ---> : Elements of Component : <--- */

.c-button__operative {
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  color: white;
  background-color: #0052c3;
}

.c-button__buy {
  padding-top: 8px;
  padding-right: 32px;
  padding-bottom: 8px;
  padding-left: 32px;
}

/* ---> : Modificators of Component : <--- */

.c-button--br4 {
  border-radius: 4px;
}

.c-button--full {
  width: 100%;
}

/*_________________________

Component Input Start

_______________*/

.c-input {
  color: inherit;
  background: inherit;
  border: inherit;
  outline: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* ---> : Elements of Component : <--- */

.c-input__classic {
  width: 100%;
  padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
  font-size: 1rem;
  border: 1px solid #DFE0DE;
  color: #DFE0DE;
  background-color: white;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-input__classic::-webkit-input-placeholder {
  color: #DFE0DE;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-input__classic::-moz-placeholder {
  color: #DFE0DE;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-input__classic:-ms-input-placeholder {
  color: #DFE0DE;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-input__classic::-ms-input-placeholder {
  color: #DFE0DE;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-input__classic::placeholder {
  color: #DFE0DE;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-input__classic:focus::-webkit-input-placeholder,
.c-input__classic:focus {
  color: #B9B9B9;
}

.c-input__classic:focus::-moz-placeholder,
.c-input__classic:focus {
  color: #B9B9B9;
}

.c-input__classic:focus:-ms-input-placeholder,
.c-input__classic:focus {
  color: #B9B9B9;
}

.c-input__classic:focus::-ms-input-placeholder,
.c-input__classic:focus {
  color: #B9B9B9;
}

.c-input__classic:focus::placeholder,
.c-input__classic:focus {
  color: #B9B9B9;
}

.c-input__classic2 {
  width: 100%;
  padding-bottom: 8px;
  font-size: 1rem;
  border-bottom: 2px solid #0052c3;
  color: #0052c3;
  background-color: transparent;
  -webkit-transition: color .3s ease-in-out, border-bottom-color .3s ease-in-out;
  transition: color .3s ease-in-out, border-bottom-color .3s ease-in-out;
}

.c-input__classic2::-webkit-input-placeholder {
  color: #0052c3;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-input__classic2::-moz-placeholder {
  color: #0052c3;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-input__classic2:-ms-input-placeholder {
  color: #0052c3;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-input__classic2::-ms-input-placeholder {
  color: #0052c3;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-input__classic2::placeholder {
  color: #0052c3;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-input__classic2:focus::-webkit-input-placeholder,
.c-input__classic2:focus {
  color: black;
  border-bottom-color: black;
}

.c-input__classic2:focus::-moz-placeholder,
.c-input__classic2:focus {
  color: black;
  border-bottom-color: black;
}

.c-input__classic2:focus:-ms-input-placeholder,
.c-input__classic2:focus {
  color: black;
  border-bottom-color: black;
}

.c-input__classic2:focus::-ms-input-placeholder,
.c-input__classic2:focus {
  color: black;
  border-bottom-color: black;
}

.c-input__classic2:focus::placeholder,
.c-input__classic2:focus {
  color: black;
  border-bottom-color: black;
}

/*_________________________
Component Textarea Start
_______________*/

.c-textarea {
  color: inherit;
  background: inherit;
  border: inherit;
  outline: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  resize: none;
}

/* ---> : Elements of Component : <--- */

.c-textarea__classic {
  width: 100%;
  padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
  font-size: 1rem;
  border: 1px solid #DFE0DE;
  color: #DFE0DE;
  background-color: white;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  height: 328px;
}

.c-textarea__classic::-webkit-input-placeholder {
  color: #DFE0DE;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-textarea__classic::-moz-placeholder {
  color: #DFE0DE;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-textarea__classic:-ms-input-placeholder {
  color: #DFE0DE;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-textarea__classic::-ms-input-placeholder {
  color: #DFE0DE;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-textarea__classic::placeholder {
  color: #DFE0DE;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-textarea__classic:focus::-webkit-input-placeholder,
.c-textarea__classic:focus {
  color: #B9B9B9;
}

.c-textarea__classic:focus::-moz-placeholder,
.c-textarea__classic:focus {
  color: #B9B9B9;
}

.c-textarea__classic:focus:-ms-input-placeholder,
.c-textarea__classic:focus {
  color: #B9B9B9;
}

.c-textarea__classic:focus::-ms-input-placeholder,
.c-textarea__classic:focus {
  color: #B9B9B9;
}

.c-textarea__classic:focus::placeholder,
.c-textarea__classic:focus {
  color: #B9B9B9;
}

.c-textarea__classic {
  width: 100%;
  padding-bottom: 8px;
  font-size: 1rem;
  border-bottom: 2px solid #0052c3;
  color: #0052c3;
  background-color: transparent;
  -webkit-transition: color .3s ease-in-out, border-bottom-color .3s ease-in-out;
  transition: color .3s ease-in-out, border-bottom-color .3s ease-in-out;
  height: 328px;
}

.c-textarea__classic::-webkit-input-placeholder {
  color: #0052c3;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-textarea__classic::-moz-placeholder {
  color: #0052c3;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-textarea__classic:-ms-input-placeholder {
  color: #0052c3;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-textarea__classic::-ms-input-placeholder {
  color: #0052c3;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-textarea__classic::placeholder {
  color: #0052c3;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-textarea__classic:focus::-webkit-input-placeholder,
.c-textarea__classic:focus {
  color: black;
  border-bottom-color: black;
}

.c-textarea__classic:focus::-moz-placeholder,
.c-textarea__classic:focus {
  color: black;
  border-bottom-color: black;
}

.c-textarea__classic:focus:-ms-input-placeholder,
.c-textarea__classic:focus {
  color: black;
  border-bottom-color: black;
}

.c-textarea__classic:focus::-ms-input-placeholder,
.c-textarea__classic:focus {
  color: black;
  border-bottom-color: black;
}

.c-textarea__classic:focus::placeholder,
.c-textarea__classic:focus {
  color: black;
  border-bottom-color: black;
}

/*_________________________

Component Wrapper Start

_______________*/

.c-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* --> : Component Elements : <-- */

/* --> : Component Modificators : <-- */

.c-wrapper--fullscreen {
  width: calc(100vw - 32px);
  height: calc(100vh - 32px);
}

/*_________________________

Component Text Start

_______________*/

/* --> : Component Elements : <-- */

.c-text__line16 {
  position: relative;
}

.c-text__line16:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  width: 16px;
  height: 2px;
  background-color: #0052c3;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* --> : Component Modificators : <-- */

.c-text--center {
  text-align: center;
}

.c-text--right {
  text-align: right;
}

.c-text--ttu {
  text-transform: uppercase;
}

/*_________________________

Component Text Size Start

_______________*/

/* --> : Component Modificators : <-- */

.c-text-size--10r {
  line-height: 1.5em;
  font-size: 10rem;
}

.c-text-size--h1 {
  line-height: 1.5em;
  font-size: 3rem;
}

.c-text-size--h2 {
  line-height: 1.5em;
  font-size: 2rem;
}

.c-text-size--h3 {
  line-height: 1.5em;
  font-size: 1.5rem;
}

.c-text-size--h4 {
  line-height: 1.5em;
  font-size: 1.25rem;
}

.c-text-size--h5 {
  line-height: 1.5em;
  font-size: 1.2rem;
}

.c-text-size--h6 {
  line-height: 1.5em;
  font-size: 1.15rem;
}

/*_________________________

Component Flip Start

_______________*/

.c-flip:hover .c-flip__back {
  opacity: 1;
  visibility: visible;
}

/* --> : Component Elements : <-- */

.c-flip__container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.c-flip__front,
.c-flip__back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity .6s ease-in-out, visibility .6s ease-in-out;
  transition: opacity .6s ease-in-out, visibility .6s ease-in-out;
}

.c-flip__back {
  opacity: 0;
  visibility: hidden;
}

/*_________________________

Component Hamburger Start

_______________*/

.c-hamburger {
  position: relative;
  display: none;
  margin-left: 32px;
  font-size: 1.5rem;
  cursor: pointer;
}

/*_________________________

Component Navigation Start

_______________*/

/* --> : Component Elements : <-- */

.c-navigation__submenu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.c-navigation__trigger:hover .c-navigation__submenu {
  opacity: 1;
  visibility: visible;
}

.c-navigation__mobile {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  display: none;
  top: 0;
  right: -30vw;
  bottom: 0;
  width: 30vw;
  height: 100vh;
  overflow-y: auto;
  -webkit-transition: .8s all;
  transition: .8s all;
  z-index: 99999;
}

.c-navigation__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  z-index: 10;
  cursor: pointer;
}

/* ---> : Component Modificators Start : <--- */

.c-navigation--mobactive {
  right: 0 !important;
}

/*_________________________

Component List Start

_______________*/

.c-list {
  padding-left: 0;
  list-style: none;
}

.c-list li:first-child {
  margin-top: 0;
  margin-left: 0;
}

.c-list li:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

/* --> : Component Elements : <-- */

/* ---> : Component Modificators Start : <--- */

.c-list--tabcol2 {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}

.c-list--restb li:first-child {
  margin-top: inherit;
}

.c-list--restb li:last-child {
  margin-bottom: inherit;
}

/*_________________________

Component List Start

_______________*/

.c-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}

/* --> : Component Elements : <-- */

.c-link__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 176px;
  height: 64px;
  margin-right: 0;
  margin-left: 0;
  text-transform: lowercase;
  border-radius: 12px;
  border: 2px solid #DFE0DE;
}

.c-link__share:last-child {
  margin-top: 16px;
}

.c-link__circle {
  position: relative;
}

.c-link__circle:before {
  content: '';
  position: absolute;
  bottom: -7px;
  left: calc(50% - 2px);
  width: 4px;
  height: 4px;
  background: #0052c3;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s all;
  transition: .3s all;
  z-index: 99;
}

.c-link__circle:hover:before {
  visibility: visible;
  opacity: 1;
}

.c-link__category {
  display: inline-block;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  -webkit-transition: .3s all;
  transition: .3s all;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.c-link__category:hover {
  color: #0052c3;
  background: white;
}

/* ---> : Component Modificators Start : <--- */

.c-link--backbefwhite:before {
  background: white;
}

.c-link--catactive {
  color: #0052c3;
  background: white;
}

.c-link--diblock {
  display: inline-block;
}

.c-link--tdu {
  text-decoration: underline;
}

/*_________________________

Component Card Start

_______________*/

.c-card {
  position: relative;
}

/* --> : Component Elements : <-- */

.c-card__cat {
  position: relative;
  border-right: 1px dotted #B9B9B9;
}

/* --> : Component Modificators : <-- */

.c-card--328 {
  height: 328px;
}

.c-card--192 {
  height: 192px;
}

/*_________________________

Component Form Start

_______________*/

/* ---> : Element of Component : <--- */

.c-form__calendar .wpbc_booking_form_structure .alert {
  display: inline-block;
  margin-top: 16px !important;
  margin-left: 0 !important;
}

.c-form__calendar .wpbc_booking_form_structure .btn {
  padding-top: 16px;
  padding-right: 64px;
  padding-bottom: 16px;
  padding-left: 64px;
  color: white;
  background-color: #0052c3;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.c-form__calendar .wpbc_booking_form_structure .btn:hover {
  opacity: .7;
  background-color: #0052c3;
  color: white;
}

.c-form__calendar .wpbc_booking_form_structure div[style="font-size:9px;text-align:left;margin-top:3px;"] {
  display: none !important;
}

.c-form__calendar .wpbc_booking_form_structure .bk_calendar_frame {
  width: 100% !important;
  padding-left: 16px;
  padding-right: 16px;
}

.c-form__calendar .wpbc_booking_form_structure .calendar-links {
  background: linear-gradient(135deg, #0052c3 0%, #002962 100%) !important;
}

.c-form__calendar .wpbc_booking_form_structure .date2approve {
  background: #0052c3 !important;
}

.c-form__calendar .wpbc_booking_form_structure .datepick-header *,
.c-form__calendar .wpbc_booking_form_structure .datepick-prev *,
.c-form__calendar .wpbc_booking_form_structure .datepick-next *,
.c-form__calendar .wpbc_booking_form_structure .date2approve * {
  color: white !important;
}

.c-form__calendar .wpbc_booking_form_structure .wpbc_structure_calendar {
  position: relative;
  width: 100%;
}

.c-form__calendar .wpbc_booking_form_structure .wpbc_structure_form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 32px;
}

.c-form__calendar .wpbc_booking_form_structure .form-group {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.c-form__calendar .wpbc_booking_form_structure .form-group:nth-child(5),
.c-form__calendar .wpbc_booking_form_structure .form-group:last-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.c-form__calendar .wpbc_booking_form_structure .form-group:nth-child(5) textarea,
.c-form__calendar .wpbc_booking_form_structure .form-group:last-child textarea {
  resize: none;
}

.c-form__calendar .wpbc_booking_form_structure .form-group:last-child {
  text-align: center;
}

.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  color: inherit;
  background: inherit;
  border: inherit;
  outline: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
  padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
  font-size: 1rem;
  border: 1px solid #DFE0DE;
  color: #DFE0DE;
  background-color: white;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge::-webkit-input-placeholder {
  color: #DFE0DE;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge::-moz-placeholder {
  color: #DFE0DE;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge:-ms-input-placeholder {
  color: #DFE0DE;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge::-ms-input-placeholder {
  color: #DFE0DE;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge::placeholder {
  color: #DFE0DE;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge:focus::-webkit-input-placeholder,
.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge:focus {
  color: #B9B9B9;
}

.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge:focus::-moz-placeholder,
.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge:focus {
  color: #B9B9B9;
}

.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge:focus:-ms-input-placeholder,
.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge:focus {
  color: #B9B9B9;
}

.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge:focus::-ms-input-placeholder,
.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge:focus {
  color: #B9B9B9;
}

.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge:focus::placeholder,
.c-form__calendar .wpbc_booking_form_structure .form-group .input-xlarge:focus {
  color: #B9B9B9;
}

/*_________________________

Component Map Start
_______________*/

.c-map {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ---> :Elements of Component: <--- */

/*_________________________

Component Map Start
_______________*/

.c-marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #0052c3;
  color: white;
  font-size: 1rem;
}

/* ---> :Elements of Component: <--- */

.c-marker__circle {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #0052c3;
  -webkit-animation: pulse 2s infinite ease-in-out;
  animation: pulse 2s infinite ease-in-out;
}

.c-marker__circle:nth-of-type(1) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.c-marker__circle:nth-of-type(2) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.c-marker__circle:nth-of-type(3) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

/*_______________________
    UI Start
________*/

.reset {
  padding: 0;
  margin: 0;
}

.reset-top {
  padding-top: 0;
  margin-top: 0;
}

.reset-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}

.reset-margin {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

/* White */

.c-wh {
  color: white;
}

.bck-wh {
  background: white;
}

/* Black */

.c-blck {
  color: black;
}

.bck-blck {
  background: black;
}

/* Cobe color (Purple) */

.c-cb {
  color: #BC54E1;
}

.bck-cb {
  background: #BC54E1;
}

/* ***** 50 faces of Grey ***** */

/* Main */

.c-gm {
  color: #F8F8F8;
}

.bck-gm {
  background: #F8F8F8;
}

/* Secondary */

.c-gs {
  color: #DFE0DE;
}

.bck-gs {
  background: #DFE0DE;
}

/* Tertiary */

.c-gt {
  color: #B9B9B9;
}

.bck-gt {
  background: #B9B9B9;
}

/* Operative */

.c-op {
  color: #0052c3;
}

.bck-op {
  background: #0052c3;
}

/* Background gradient */

.bck-gradient--blue {
  background: #4693ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#4693ff), to(#0051c3));
  background: linear-gradient(to bottom, #4693ff 0%, #0051c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4693ff', endColorstr='#0051c3', GradientType=1 );
}

.bck-gradient--operative {
  background: #0052c3;
  background: linear-gradient(135deg, #0052c3 0%, #002962 100%);
}

.p0 {
  padding: 0px;
}

.pt0 {
  padding-top: 0px;
}

.pr0 {
  padding-right: 0px;
}

.pb0 {
  padding-bottom: 0px;
}

.pl0 {
  padding-left: 0px;
}

.p8 {
  padding: 8px;
}

.pt8 {
  padding-top: 8px;
}

.pr8 {
  padding-right: 8px;
}

.pb8 {
  padding-bottom: 8px;
}

.pl8 {
  padding-left: 8px;
}

.p16 {
  padding: 16px;
}

.pt16 {
  padding-top: 16px;
}

.pr16 {
  padding-right: 16px;
}

.pb16 {
  padding-bottom: 16px;
}

.pl16 {
  padding-left: 16px;
}

.p24 {
  padding: 24px;
}

.pt24 {
  padding-top: 24px;
}

.pr24 {
  padding-right: 24px;
}

.pb24 {
  padding-bottom: 24px;
}

.pl24 {
  padding-left: 24px;
}

.p32 {
  padding: 25.6px;
}

.pt32 {
  padding-top: 25.6px;
}

.pr32 {
  padding-right: 25.6px;
}

.pb32 {
  padding-bottom: 25.6px;
}

.pl32 {
  padding-left: 25.6px;
}

.p64 {
  padding: 51.2px;
}

.pt64 {
  padding-top: 51.2px;
}

.pr64 {
  padding-right: 51.2px;
}

.pb64 {
  padding-bottom: 51.2px;
}

.pl64 {
  padding-left: 51.2px;
}

.p128 {
  padding: 102.4px;
}

.pt128 {
  padding-top: 102.4px;
}

.pr128 {
  padding-right: 102.4px;
}

.pb128 {
  padding-bottom: 102.4px;
}

.pl128 {
  padding-left: 102.4px;
}

.p160 {
  padding: 128px;
}

.pt160 {
  padding-top: 128px;
}

.pr160 {
  padding-right: 128px;
}

.pb160 {
  padding-bottom: 128px;
}

.pl160 {
  padding-left: 128px;
}

.p224 {
  padding: 179.2px;
}

.pt224 {
  padding-top: 179.2px;
}

.pr224 {
  padding-right: 179.2px;
}

.pb224 {
  padding-bottom: 179.2px;
}

.pl224 {
  padding-left: 179.2px;
}

.m0 {
  margin: 0px;
}

.mt0 {
  margin-top: 0px;
}

.mr0 {
  margin-right: 0px;
}

.mb0 {
  margin-bottom: 0px;
}

.ml0 {
  margin-left: 0px;
}

.m8 {
  margin: 8px;
}

.mt8 {
  margin-top: 8px;
}

.mr8 {
  margin-right: 8px;
}

.mb8 {
  margin-bottom: 8px;
}

.ml8 {
  margin-left: 8px;
}

.m16 {
  margin: 16px;
}

.mt16 {
  margin-top: 16px;
}

.mr16 {
  margin-right: 16px;
}

.mb16 {
  margin-bottom: 16px;
}

.ml16 {
  margin-left: 16px;
}

.m24 {
  margin: 24px;
}

.mt24 {
  margin-top: 24px;
}

.mr24 {
  margin-right: 24px;
}

.mb24 {
  margin-bottom: 24px;
}

.ml24 {
  margin-left: 24px;
}

.m32 {
  margin: 25.6px;
}

.mt32 {
  margin-top: 25.6px;
}

.mr32 {
  margin-right: 25.6px;
}

.mb32 {
  margin-bottom: 25.6px;
}

.ml32 {
  margin-left: 25.6px;
}

.m64 {
  margin: 51.2px;
}

.mt64 {
  margin-top: 51.2px;
}

.mr64 {
  margin-right: 51.2px;
}

.mb64 {
  margin-bottom: 51.2px;
}

.ml64 {
  margin-left: 51.2px;
}

.m128 {
  margin: 102.4px;
}

.mt128 {
  margin-top: 102.4px;
}

.mr128 {
  margin-right: 102.4px;
}

.mb128 {
  margin-bottom: 102.4px;
}

.ml128 {
  margin-left: 102.4px;
}

.m160 {
  margin: 128px;
}

.mt160 {
  margin-top: 128px;
}

.mr160 {
  margin-right: 128px;
}

.mb160 {
  margin-bottom: 128px;
}

.ml160 {
  margin-left: 128px;
}

.m224 {
  margin: 179.2px;
}

.mt224 {
  margin-top: 179.2px;
}

.mr224 {
  margin-right: 179.2px;
}

.mb224 {
  margin-bottom: 179.2px;
}

.ml224 {
  margin-left: 179.2px;
}

.mauto {
  margin: auto;
}

/* All font elements */

.f-san {
  font-family: "sanchez-regular", sans-serif !important;
}

.f-vb {
  font-family: "value-black", sans-serif !important;
}

.f-vr {
  font-family: "value-regular", sans-serif !important;
}

@media only screen and (min-width: 768px) {
  .l-Container--posts {
    padding-right: 48px;
    padding-left: 48px;
  }

  .l-welcome__image {
    -webkit-transform: translateY(0) scale(1.5);
    transform: translateY(0) scale(1.5);
  }

  .c-link__share {
    margin-right: 16px;
    margin-left: 16px;
  }

  .c-link__share:last-child {
    margin-top: 0;
    margin-right: 0;
  }

  .p32 {
    padding: 32px;
  }

  .pt32 {
    padding-top: 32px;
  }

  .pr32 {
    padding-right: 32px;
  }

  .pb32 {
    padding-bottom: 32px;
  }

  .pl32 {
    padding-left: 32px;
  }

  .p64 {
    padding: 64px;
  }

  .pt64 {
    padding-top: 64px;
  }

  .pr64 {
    padding-right: 64px;
  }

  .pb64 {
    padding-bottom: 64px;
  }

  .pl64 {
    padding-left: 64px;
  }

  .p128 {
    padding: 128px;
  }

  .pt128 {
    padding-top: 128px;
  }

  .pr128 {
    padding-right: 128px;
  }

  .pb128 {
    padding-bottom: 128px;
  }

  .pl128 {
    padding-left: 128px;
  }

  .p160 {
    padding: 160px;
  }

  .pt160 {
    padding-top: 160px;
  }

  .pr160 {
    padding-right: 160px;
  }

  .pb160 {
    padding-bottom: 160px;
  }

  .pl160 {
    padding-left: 160px;
  }

  .p224 {
    padding: 224px;
  }

  .pt224 {
    padding-top: 224px;
  }

  .pr224 {
    padding-right: 224px;
  }

  .pb224 {
    padding-bottom: 224px;
  }

  .pl224 {
    padding-left: 224px;
  }

  .m32 {
    margin: 32px;
  }

  .mt32 {
    margin-top: 32px;
  }

  .mr32 {
    margin-right: 32px;
  }

  .mb32 {
    margin-bottom: 32px;
  }

  .ml32 {
    margin-left: 32px;
  }

  .m64 {
    margin: 64px;
  }

  .mt64 {
    margin-top: 64px;
  }

  .mr64 {
    margin-right: 64px;
  }

  .mb64 {
    margin-bottom: 64px;
  }

  .ml64 {
    margin-left: 64px;
  }

  .m128 {
    margin: 128px;
  }

  .mt128 {
    margin-top: 128px;
  }

  .mr128 {
    margin-right: 128px;
  }

  .mb128 {
    margin-bottom: 128px;
  }

  .ml128 {
    margin-left: 128px;
  }

  .m160 {
    margin: 160px;
  }

  .mt160 {
    margin-top: 160px;
  }

  .mr160 {
    margin-right: 160px;
  }

  .mb160 {
    margin-bottom: 160px;
  }

  .ml160 {
    margin-left: 160px;
  }

  .m224 {
    margin: 224px;
  }

  .mt224 {
    margin-top: 224px;
  }

  .mr224 {
    margin-right: 224px;
  }

  .mb224 {
    margin-bottom: 224px;
  }

  .ml224 {
    margin-left: 224px;
  }
}

@media screen and (min-width: 768px) {
  .tbl-col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .tbl-col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .tbl-col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .tbl-col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .tbl-col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .tbl-col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .tbl-col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .tbl-col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .tbl-col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .tbl-col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .tbl-col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .tbl-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1366px) {
  .ntb-col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .ntb-col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .ntb-col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .ntb-col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .ntb-col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .ntb-col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .ntb-col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .ntb-col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .ntb-col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .ntb-col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .ntb-col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .ntb-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1366px) {
  .l-header {
    margin-right: 16px;
    margin-left: 16px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .l-dna__canvas {
    top: 16px;
    left: 16px;
    width: calc(100% - 32px);
    height: calc(100vh - 32px);
  }

  .l-dna__content {
    margin-left: 64px;
  }

  .m-Hero__content {
    max-width: 80%;
  }

  .c-wrapper {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
  }

  .c-wrapper--fullscreen {
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .c-form__calendar .wpbc_booking_form_structure .form-group {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1600px) {
  .pc-col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .pc-col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .pc-col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .pc-col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .pc-col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .pc-col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .pc-col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .pc-col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .pc-col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .pc-col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .pc-col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .pc-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1367px) {
  .l-brain {
    display: none;
  }

  .l-head {
    display: none;
  }

  .l-team {
    display: none;
  }
}

@media only screen and (max-width: 1366px) {
  .recent-posts_vh_pagination {
    padding-top: 64px;
  }

  /* ---> : Layout Elements Start : <--- */

  .l-header__menu {
    display: none;
  }

  .c-text-size--h1 {
    font-size: 2.3rem;
  }

  .c-hamburger {
    display: block;
  }

  /* ---> : Component Elements Start : <--- */

  .c-navigation__mobile {
    display: block;
  }

  /* --> : Component Modificators : <-- */

  .c-card--328 {
    height: 288px;
  }
}

@media only screen and (max-width: 769px) {
  .block-image__advanced {
    width: 50%;
  }

  .block-image__underblock {
    top: calc(100% - 128px);
    left: calc(50% - 128px);
    max-width: 256px;
    max-height: 256px;
  }

  .block-image--full,
  .block-image--small {
    height: 50vh;
  }
}

@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 13px;
    line-height: 26px;
  }

  h1 {
    font-size: 2.3rem;
  }

  .block-videogallery__element:hover .block-videogallery__controls {
    opacity: inherit;
    visibility: inherit;
  }

  .block-videogallery__controls {
    opacity: 1;
    visibility: visible;
  }

  .prop-slider_content {
    margin-top: 128px;
  }

  .prop-slider_pagination {
    margin-top: 128px;
  }

  .prop-slider_pagination__el {
    margin-right: 0;
    margin-left: 0;
  }

  .recent-posts_s496 {
    height: auto;
  }

  .recent-posts_s496_pagination {
    display: none;
  }

  .l-header {
    margin-right: 0;
    margin-left: 0;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
    background: white;
    color: black;
  }

  /* ---> : Layout Elements Start : <--- */

  .l-header__sygnets {
    width: 36px;
    height: 36px;
    margin-right: 8px;
  }

  /* ---> : Layout Elements Start : <--- */

  .l-gallery-image__next,
  .l-gallery-image__prev {
    width: 16px;
    height: 32px;
  }

  .c-flip__front {
    visibility: hidden;
    opacity: 0;
  }

  .c-flip__back {
    visibility: visible;
    opacity: 1;
  }

  .c-hamburger {
    margin-left: 0;
  }

  /* ---> : Component Elements Start : <--- */

  .c-navigation__extra {
    display: none;
  }

  .c-navigation__mobile {
    right: -100vw;
    width: 100vw;
  }

  /* --> : Component Modificators : <-- */

  .c-card--328 {
    height: 256px;
  }
}

@media only screen and (max-width: 425px) {
  .post__sygnet {
    bottom: -80px;
    left: calc(50% - 80px);
    width: 160px;
    height: 160px;
  }
}