.card
    box-sizing: border-box
    position: relative
    width: 100%
    &_image, &_title, &_cat, &_date, &_describe
        position: relative
    &_wrapper
        height: 100%
    &_image
        position: relative
        width: 100%
        height: 100%
        &__328
            height: 328px
        &__192
            height: 192px
        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover
    &_title
        &__center
            text-align: center
    &_cat
        padding-right: 14px
        margin-right: 16px
        border-right: 1px dotted $grey-tertiary
    &_date
        &__abr
            position: absolute
            bottom: 4px
            right: 16px
        i
            margin-right: 14px

@media only screen and (max-width: 1366px)
    .card
        &_image
            &__328
                height: 288px

@media only screen and (max-width: 768px)
    .card
        &_image
            &__328, &__swiper
                height: 256px