.animation {
	position: relative;
	width: 100%;
	&__line {
		position: absolute;
		border-radius: 50%;
		border: 8px solid transparent;
		border-top: 8px solid $black;
		border-left: 8px solid $black;
		transform-origin: 50%;
	}
	&__rect {
		position: absolute;
		width: 13px;
		height: 13px;
		background: $head;
	}
	&__image {
		width: 100%;
		height: auto;
	}
}

.fade {
  opacity: 0;
  visibility: hidden;
}

@keyframes rotate360 {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate-360 {
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes rect-black {
	0% {
		background: $head;
	}
	50% {
		background: $black;
	}
	100% {
		background: $head;
	}
}

@media only screen and (max-width: 1367px) {
	.animation {
		display: none;
	}
}