.m-TabGallery{
    position: relative;
    overflow: hidden;
    &__navigation{
        &__element{
            cursor: pointer;
        }
        &--active{
            text-decoration: underline;
        }
    }
    &__slider{
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity .6s ease-in-out, visibility .6s ease-in-out;
        &--active{
            position: relative;
            visibility: visible;
            opacity: 1;
        }
    }
    &__pagination{
        @media screen and (max-width: $bpoint-ntb) {
            padding-top: 64px;
        }
        & > .swiper-pagination-bullet{
            width: 8px!important;
            height: 8px!important;
            background: $operative!important;
            cursor: pointer;
            opacity: .25!important;
            transition: opacity .3s ease-in-out, transform .3s ease-in-out;
        }
        & > .swiper-pagination-bullet-active{
            opacity: 1!important;
            transform: scale(2);
        }
    }
}