.mbl-col-1,.mbl-col-2,.mbl-col-3,.mbl-col-4,.mbl-col-5,.mbl-col-6,
.mbl-col-7,.mbl-col-8,.mbl-col-9,.mbl-col-10,.mbl-col-11,.mbl-col-12,
.tbl-col-1,.tbl-col-2,.tbl-col-3,.tbl-col-4,.tbl-col-5,.tbl-col-6,
.tbl-col-7,.tbl-col-8,.tbl-col-9,.tbl-col-10,.tbl-col-11,.tbl-col-12,
.ntb-col-1,.ntb-col-2,.ntb-col-3,.ntb-col-4,.ntb-col-5,.ntb-col-6,
.ntb-col-7,.ntb-col-8,.ntb-col-9,.ntb-col-10,.ntb-col-11,.ntb-col-12,
.pc-col-1,.pc-col-2,.pc-col-3,.pc-col-4,.pc-col-5,.pc-col-6,
.pc-col-7,.pc-col-8,.pc-col-9,.pc-col-10,.pc-col-11,.pc-col-12{
    box-sizing: border-box;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 16px;
    padding-left: 16px;
}

@for $i from 1 through 12{
    $width: ($i / 12) * 100%;
    .mbl-col-#{$i}{
        flex: 0 0 $width;
        max-width: $width;
    }
}

@media only screen and (min-width: $bpoint-tab){
    @for $i from 1 through 12{
        $width: ($i / 12) * 100%;
        .tbl-col-#{$i}{
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}

@media only screen and (min-width: $bpoint-ntb){
    @for $i from 1 through 12{
        $width: ($i / 12) * 100%;
        .ntb-col-#{$i}{
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}

@media only screen and (min-width: $bpoint-full){
    @for $i from 1 through 12{
        $width: ($i / 12) * 100%;
        .pc-col-#{$i}{
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}
