.mbl-col-1,.mbl-col-2,.mbl-col-3,.mbl-col-4,.mbl-col-5,.mbl-col-6,
.mbl-col-7,.mbl-col-8,.mbl-col-9,.mbl-col-10,.mbl-col-11,.mbl-col-12,
.tbl-col-1,.tbl-col-2,.tbl-col-3,.tbl-col-4,.tbl-col-5,.tbl-col-6,
.tbl-col-7,.tbl-col-8,.tbl-col-9,.tbl-col-10,.tbl-col-11,.tbl-col-12,
.ntb-col-1,.ntb-col-2,.ntb-col-3,.ntb-col-4,.ntb-col-5,.ntb-col-6,
.ntb-col-7,.ntb-col-8,.ntb-col-9,.ntb-col-10,.ntb-col-11,.ntb-col-12,
.pc-col-1,.pc-col-2,.pc-col-3,.pc-col-4,.pc-col-5,.pc-col-6,
.pc-col-7,.pc-col-8,.pc-col-9,.pc-col-10,.pc-col-11,.pc-col-12{
    box-sizing: border-box;
    flex: 0 0 100%;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
}

/* Mobile columns */
.mbl-col-1{
    flex: 0 0 8.333333%;
    width: 8.333333%;
}
.mbl-col-2{
    flex: 0 0 16.666667%;
    width: 16.666667%;
}
.mbl-col-3{
    flex: 0 0 25%;
    width: 25%;
}
.mbl-col-4{
    flex: 0 0 33.333333%;
    width: 33.333333%;
}
.mbl-col-5{
    flex: 0 0 41.666667%;
    width: 41.666667%;
}
.mbl-col-6{
    flex: 0 0 50%;
    width: 50%;
}
.mbl-col-7{
    flex: 0 0 58.333333%;
    width: 58.333333%;
}
.mbl-col-8{
    flex: 0 0 66.666667%;
    width: 66.666667%;
}
.mbl-col-9{
    flex: 0 0 75%;
    width: 75%;
}
.mbl-col-10{
    flex: 0 0 83.333333%;
    width: 83.333333%;
}
.mbl-col-11{
    flex: 0 0 91.666667%;
    width: 91.666667%;
}
.mbl-col-12{
    flex: 0 0 100%;
    width: 100%;
}

@media only screen and (min-width: 426px){
    /* Tablet columns */
    .tbl-col-1{
        flex: 0 0 8.333333%;
        width: 8.333333%;
    }
    .tbl-col-2{
        flex: 0 0 16.666667%;
        width: 16.666667%;
    }
    .tbl-col-3{
        flex: 0 0 25%;
        width: 25%;
    }
    .tbl-col-4{
        flex: 0 0 33.333333%;
        width: 33.333333%;
    }
    .tbl-col-5{
        flex: 0 0 41.666667%;
        width: 41.666667%;
    }
    .tbl-col-6{
        flex: 0 0 50%;
        width: 50%;
    }
    .tbl-col-7{
        flex: 0 0 58.333333%;
        width: 58.333333%;
    }
    .tbl-col-8{
        flex: 0 0 66.666667%;
        width: 66.666667%;
    }
    .tbl-col-9{
        flex: 0 0 75%;
        width: 75%;
    }
    .tbl-col-10{
        flex: 0 0 83.333333%;
        width: 83.333333%;
    }
    .tbl-col-11{
        flex: 0 0 91.666667%;
        width: 91.666667%;
    }
    .tbl-col-12{
        flex: 0 0 100%;
        width: 100%;
    }
}
@media only screen and (min-width: 769px){
    /* NoteBooks columns */
    .ntb-col-1{
        flex: 0 0 8.333333%;
        width: 8.333333%;
    }
    .ntb-col-2{
        flex: 0 0 16.666667%;
        width: 16.666667%;
    }
    .ntb-col-3{
        flex: 0 0 25%;
        width: 25%;
    }
    .ntb-col-4{
        flex: 0 0 33.333333%;
        width: 33.333333%;
    }
    .ntb-col-5{
        flex: 0 0 41.666667%;
        width: 41.666667%;
    }
    .ntb-col-6{
        flex: 0 0 50%;
        width: 50%;
    }
    .ntb-col-7{
        flex: 0 0 58.333333%;
        width: 58.333333%;
    }
    .ntb-col-8{
        flex: 0 0 66.666667%;
        width: 66.666667%;
    }
    .ntb-col-9{
        flex: 0 0 75%;
        width: 75%;
    }
    .ntb-col-10{
        flex: 0 0 83.333333%;
        width: 83.333333%;
    }
    .ntb-col-11{
        flex: 0 0 91.666667%;
        width: 91.666667%;
    }
    .ntb-col-12{
        flex: 0 0 100%;
        width: 100%;
    }
}

@media only screen and (min-width: 1367px){
    /* Pcs columns */
    .pc-col-1{
        flex: 0 0 8.333333%;
        width: 8.333333%;
    }
    .pc-col-2{
        flex: 0 0 16.666667%;
        width: 16.666667%;
    }
    .pc-col-3{
        flex: 0 0 25%;
        width: 25%;
    }
    .pc-col-4{
        flex: 0 0 33.333333%;
        width: 33.333333%;
    }
    .pc-col-5{
        flex: 0 0 41.666667%;
        width: 41.666667%;
    }
    .pc-col-6{
        flex: 0 0 50%;
        width: 50%;
    }
    .pc-col-7{
        flex: 0 0 58.333333%;
        width: 58.333333%;
    }
    .pc-col-8{
        flex: 0 0 66.666667%;
        width: 66.666667%;
    }
    .pc-col-9{
        flex: 0 0 75%;
        width: 75%;
    }
    .pc-col-10{
        flex: 0 0 83.333333%;
        width: 83.333333%;
    }
    .pc-col-11{
        flex: 0 0 91.666667%;
        width: 91.666667%;
    }
    .pc-col-12{
        flex: 0 0 100%;
        width: 100%;
    }
}