/*_________________________

Layout Header Start

_______________*/

.l-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    margin-right: 16px;
    margin-left: 16px;
    z-index: 9999; 
    transition: background-color .6s ease-in-out; 
    &:hover{
        background-color: $white;
    }
    &:hover .l-header__logo, &:hover .l-header__menu, &:hover .l-header__extra{
        color: $black;
    }
}

/* ---> : Layout Elements Start : <--- */
.l-header{
    &__sygnets{
        position: relative;
        width: 50px;
        height: 50px;
        margin-right: 14px;
    }
}

/* ---> : Layout Modificators Start : <--- */
.l-header{
    &--active{ 
        background-color: $white;
        color: $black;
        .c-flip__back{
            opacity: 1; 
            visibility: visible;
        } 
        .c-flip__front{
            opacity: 0;
            visibility: hidden;
        }
    }
}

@media only screen and (max-width: 1366px){
    /* ---> : Layout Elements Start : <--- */
    .l-header{
        &__menu{
            display: none;
        }
    }
}

@media only screen and (max-width: 768px){
    .l-header{
        margin-right: 0;
        margin-left: 0;
        padding-top: 8px;
        padding-right: 24px;
        padding-bottom: 8px;
        padding-left: 24px;
        background: $white;
        color: $black;
    }

    /* ---> : Layout Elements Start : <--- */
    .l-header{
        &__sygnets{
            width: 36px;
            height: 36px;
            margin-right: 8px;   
        }
    }
}
