/*_________________________

Layout Public Image Start

_______________*/

.l-pubimage{

}

/* --> : Component Elements : <-- */
.l-pubimage{
    &__container{
        position: relative;
    }
    &__sygnet{
        position: absolute;
        left: calc(50% - 32px);
        bottom: -32px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        z-index: 999; 
    }
}

/* --> : Component Modificators : <-- */
.l-pubimage{
    &--full {
        height: 80vh;
    }
    &--small {
        height: 40vh;
    }
    &--256{
        height: 256px;
    }
    &--boxsh{
        box-shadow: 0 0 12px rgba(0,0,0,.16);
    }
}