/*_________________________

Layout Team Start

_______________*/

.l-team{
	position: relative;
}

/* ---> : Layout Elements Start : <--- */
.l-team{
    &__vehicle {
        position: absolute;
        top: 12%;
        left: 40%;
        width: 20%;
        height: 20%;
        animation: rotate360 5s infinite linear;
    }
}

@media only screen and (max-width: 1367px) {
	.l-team {
		display: none;
	}
}