/*_________________________

Layout Welcome Start

_______________*/

.l-welcome{
    position: relative;
}

/* ---> : Layout Elements Start : <--- */
.l-welcome{
    &__phone{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
    }
    &__content{
        position: relative;
    }
    &__image{
        transform: translateY(55%) scale(1.5);
        @media only screen and ( min-width: $bpoint-tab ){
            transform: translateY(0) scale(1.5);
        }
    }
}

/* ---> : Layout Modificators Start : <--- */
.l-welcome{

}