/*__________________
    Module Hero
______*/

.m-Hero{
    position: relative;
    min-height: calc(100vh - 32px);
    background-size: cover;
    background-position: 0 0;
    overflow: hidden;
}

/* ---> :Elements of Module: <--- */
.m-Hero{
    &__side{
        position: relative;
        background-size: cover;
        background-position: center;
    }
    &__content{
        @media only screen and (min-width: $bpoint-ntb) {
            max-width: 80%;
        }
    }
}

/* ---> :Modificators of Module: <--- */
.m-Hero{
}