/* All font elements */
.f-san{
    font-family: 'sanchez-regular', sans-serif!important;
}
.f-vb{
    font-family: 'value-black', sans-serif!important;
}
.f-vr{
    font-family: 'value-regular', sans-serif!important;
}